h1{
     color: royalblue;
}

img{
    width: 400px
}

.divClass{
    text-align: center;
}

#thirdDiv{
    justify-content: center;
    text-align: center;
    height: 600 px;
    width: 400 px;
    background-color: burlywood;
    padding: 50 px;
    border: 10px solid rgb(0, 0, 0); 
}

#spanId{
    font-size: 18 px;
    margin: 50 px;
}
